/*
Color Palette:
background color: #1C6758
font color: #EEF2E6        
secondary color: #2b2b2b   
tertiary color: #D6CDA4    
*/ 

/* CSS Syntax notes:
    Selector {property:value;}
    */
    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
 
 html{
     font-size:62.5%;    /*Default font size is 16px - 62.5% of 16 is 10px
                         1 rem (relitive unit) now will be equivelent to 10px */
 }
 
 header {
    margin:0 4rem; 
    letter-spacing:0.3rem;
    text-align:center;
    border-bottom:8px solid #B73E3E;
    border-right:8px solid #B73E3E;
    border-left:8px solid #B73E3E;
    padding: 0.5rem;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 2.1rem;
 }
 
    body {
        background-color: #1C6758;
        color: #EEF2E6;
        font-family: 'Poppins', sans-serif;
        margin:0;
    }
    
    cite {
        font-size: 2rem;
    }
    
    p {
        font-size: 2rem;
    }
    
    .imageCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7rem 4rem;
    
    }
    
    .imageCard img {
        width: 100%;
        height: auto;
        border-radius: 300px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imageCard a {
        text-decoration: none;
        color: #2b2b2b;
    }
    
    .cardText {
        color: #EEF2E6;
        text-align: center;
        padding: 2rem;
        border-radius: 30px;
        margin-top: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom:8px solid #B73E3E;
        border-right:8px solid #B73E3E;
        border-left:8px solid #B73E3E;
    }
    
    @media (min-width: 768px) {
        header {
            font-size: 1.6rem;  
        }
        
        .gallery {
            display: flex;
            flex-direction:row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
        .imageCard {
            max-width: 28%;
        }
    }
    
    img:hover {
        transform: scale(1.1);
        /*filter: contrast(5560%);*/
        }
    header:hover {
        transform: scale(1.06);
        }
    .cardText:hover {
        transform: scale(1.1);
        }